/.vs
/Library
/Logs
/obj
/Temp
/Builds

node_modules/
.cache/

*.zip


/*.csproj
/*.csproj.*
/*.sln
/*.user
/.idea
!/Assets/Script/App/Runtime/Gen
# /Assets/Script/App/Runtime/Gen/*
!/Assets/Script/App/Runtime/Gen/AutoStaticUsing.cs

