/.vs
/Library
/Logs
/obj
/Temp
/Builds
/TsProj/node_modules
/*.csproj
/*.csproj.*
/*.sln
/*.user
/.idea
!/Assets/Script/App/Runtime/Gen
# /Assets/Script/App/Runtime/Gen/*
!/Assets/Script/App/Runtime/Gen/AutoStaticUsing.cs
